@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
:root {
  --background: var(--dark);
  --foreground: var(--light);
  --dark: #3b4b4d;
  --light: #f6f5ed;
  --light-pale: #f6f5ed73;
  --accent: #9bdae4;
  --accent-dark: rgb(118, 187, 197);
  --accent2: #c2aec4;
  --accent2-dark: #ad91af;
  font-family: "DM Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark);
    --foreground: var(--light);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: linear-gradient(#3b4b4d, #3b4b4d00 20%),
    url("../public/background.png");

  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

input {
  font-family: "Kumbh Sans", sans-serif;
}

button {
  font-family: "Kumbh Sans", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
}

/* CARD CSS */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 229px;
  gap: 10px;
  padding: 15px;
  background: linear-gradient(#f0c4c1b3, #f5f5f5b3);
  border-radius: 5px;
  color: var(--dark);
}
.card-name {
  font-size: 20px;
  font-weight: bold;
}
.card-details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
}
.card-text {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.add-wishlist,
.remove-wishlist {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border: none;
}
.add-wishlist {
  background: var(--accent);
}
.remove-wishlist {
  background: var(--accent2);
}
.add-wishlist:hover {
  background: var(--accent-dark);
}
.remove-wishlist:hover {
  background: var(--accent2-dark);
}
.wishlist-icon {
  width: 25px;
  height: 25px;
  color: var(--dark);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: auto;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.modal-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  min-height: 75vh;
  min-width: 75vw;
}

img.modal-image {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 12px;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.7);
  background: #fff;
}

/* HEADER CSS */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 60px;
  gap: 100px;
}

.header-search {
  display: flex;
  flex: 1;
  gap: 50px;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  margin: 0;
  color: var(--light);
  text-wrap: nowrap;
}

.search {
  display: flex;
  flex: 1;
  max-width: 800px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px 20px;
  border: solid 1px var(--light);
  border-radius: 5px;
}
.search:focus-within {
  border: solid 1.5px var(--light);
}
.search-bar {
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  display: block;
  border: none;
  background: none;
  color: var(--light);
}
.search-bar:active,
.search-bar:focus-within,
.search-bar:focus-visible {
  border: none;
  outline: none;
}
.search-bar::placeholder {
  color: var(--light-pale);
  font-size: 18px;
  font-weight: 300;
}
.search-icon {
  color: var(--light);
  width: 24px;
  height: 24px;
}

.tabs {
  display: flex;
  gap: 40px;
}
.tab-button {
  border: none;
  background: none;
  color: var(--light);
  font-size: 22px;
  font-weight: 500;
}
.tab-button:hover {
  color: var(--accent);
}
.tab-button:active {
  transform: translateY(2px);
}
.tab-button.selected {
  color: var(--accent);
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px 60px 30px 60px;
  gap: 30px;
}

.credits {
  font-size: 12px;
  text-align: center;
  color: var(--light-pale);
}
.credits.hover {
  text-decoration: underline;
  color: var(--dark);
}

/* FILTER AND SORT CSS */
.filter-sort {
  display: flex;
}
.filters {
  display: flex;
  gap: 10px;
}
.dropdown {
  padding: 8px 20px;
  background: none;
  color: var(--light);
  border: solid 1px var(--light);
  border-radius: 5px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.dropdown::picker-icon {
  color: blue;
}
option {
  color: black;
}

.footer {
  display: flex;
  justify-content: space-between;
}
