@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
:root {
  --background: var(--dark);
  --foreground: var(--light);
  --dark: #3b4b4d;
  --light: #f6f5ed;
  --light-pale: #f6f5ed73;
  --accent: #9bdae4;
  --accent-dark: rgb(118, 187, 197);
  --accent2: #c2aec4;
  --accent2-dark: #ad91af;
  font-family: "DM Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark);
    --foreground: var(--light);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: linear-gradient(#3b4b4d, #3b4b4d00 20%),
    url("../public/background.png");

  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

input {
  font-family: "Kumbh Sans", sans-serif;
}

button {
  font-family: "Kumbh Sans", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
}

.modal-image {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  z-index: 10;
  height: 100vh;
  width:100vw;
}
